/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
* {
  box-sizing: border-box;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* background:rgb(240, 38, 38) */
  background-image: url("");
}

.cursor {
  cursor: pointer;
}

.navbar {
  padding: 0.5rem 0rem;
}

/* .menu-icon {
  width: 40px;
  height: 50px;
  padding: 0;
  cursor: pointer;
  z-index: 20;
  position: relative;
}

.menu-con a:hover {
  text-decoration: none !important;
}

.menu-con a:not([href]):hover {
  color: #FFF !important;
}

.menu-bg {
  position: relative;
  z-index: 11;
  background-color: rgb(20 26 31 / 95%);
  height: 100vh !important;
  display: flex !important;
  display: -webkit-flex;
}

.menu-box {
  background-color: #141a1f !important;
  box-shadow: 0px 15px 10px 0px rgba(182, 179, 179, 0.30);
  padding: 25px 0;
  display: flex !important;
  display: -webkit-flex;
  width: 100%;
  height: fit-content;
}

.menu-bar {
  width: 40px;
  height: 4px;
  background: #fafafa;
  position: absolute;
  transition: all 0.3s;
}

.menu-bar1 {
  margin-top: 11px
}

.menu-bar2 {
  margin-top: 21px
}

.menu-bar3 {
  margin-top: 31px
}

.menu-icon.hover .menu-bar1 {
  -webkit-transform: rotate(45deg) scaleX(0.7);
  margin-top: 22px;
}

.menu-icon.hover .menu-bar2 {
  opacity: 0
}

.menu-icon.hover .menu-bar3 {
  -webkit-transform: rotate(-45deg) scaleX(0.7);
  margin-top: 22px;
}

.menu {
  height: 150px;
  display: none;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.menu-con {
  -webkit-flex-grow: 1;
  flex-basis: 0;
  flex-grow: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  position: relative;
  top: -100%;
  transition: all 0.5s
}

.menu-con p:before {
  content: "";
  display: block;
  position: absolute;
  top: 140px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-con:hover p:before {
  background: rgba(0, 0, 0, 0.2)
}

.menu-con p {
  height: 20px;
  -webkit-align-self: center;
  color: rgb(15, 15, 15);
  font-size: 25px;
  z-index: 2;
  cursor: pointer
}

.menu-con a {
  color: rgb(255, 255, 255);
  z-index: 50;
  font-size: 17px;
  cursor: pointer;
  /* background-color: transparent;
    text-decoration: none; */
*/
/* @media screen and (max-width: 600px) {
  .menu-con {
    min-width: 50%
  }

  .menu-bg,
  .menu-box {
    flex-direction: column;
  }
}

@media screen and (max-width: 350px) {
  .menu-con {
    min-width: 100%
  }
} 
*/

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  display: none;
}

.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  right: 15px;
  bottom: 15px;
  background: #428bca;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -5px;
  cursor: pointer;
}

.up:hover polyline,
.up:focus polyline {
  stroke-width: 15;
}

.up:active polyline {
  stroke-width: 15;
  transition: all 100ms ease-in-out;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #629fd3;
  transition: background 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #141a1f;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

#topbar .contact-info a {
  line-height: 1;
  color: #fafafa;
  transition: 0.3s;
}

#topbar .contact-info a:hover {
  color: #428bca;
}

#topbar .contact-info i {
  color: #428bca;
  padding: 4px;
}

#topbar .contact-info .icofont-phone {
  padding-left: 20px;
  margin-left: 10px;
}

#topbar .social-links a {
  color: #0b7de0;
  padding: 4px 12px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
}

#topbar .social-links a:hover {
  color: #428bca;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  transition: all 0.5s;
  transition: all 0.5s;
  padding: 10px 0;
  background: #141a1f;
  z-index: 997;
  width: 100%;
  position: relative;
}

#header.header-scrolled {
  box-shadow: 0px 0px 20px 0px rgba(182, 179, 179, 0.30);
}

#header .logo h1 {
  font-size: 32px;
  margin: 0px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 10px;
  text-transform: uppercase;
}

#header .logo a,
#header .logo a:hover {
  color: #fafafa;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #5c768d;
  padding: 12px 15px;
  transition: 0.3s;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
  color: #428bca;
  text-decoration: none;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #103453;
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active>a,
.nav-menu .drop-down ul li:hover>a {
  color: #428bca;
}

.nav-menu .drop-down>a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down:hover>ul {
  opacity: 1;
  top: 0;
}

.nav-menu .drop-down .drop-down>a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down>a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }

  .nav-menu .drop-down .drop-down:hover>ul {
    left: -100%;
  }

  .nav-menu .drop-down .drop-down>a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: #1f3548;
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #e3f0fc;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active>a,
.mobile-nav li:hover>a {
  color: #9eccf4;
  text-decoration: none;
}

.mobile-nav .drop-down>a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down>a:after {
  content: "\eaa0";
}

.mobile-nav .drop-down>a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 20px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #5c768d;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(31, 53, 72, 0.7);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Particles
--------------------------------------------------------------*/

/* ---- stats.js ---- */
.hero-particles {
  /* background-image: url(../img/slide/background-image.png); */
  /* position: relative; */
  background-position: 100% 0;
  background-size: 50%;
  background-repeat: no-repeat;
  /* background-color: #e1e866 !important; */
  background-color: #030303 !important;
}

.particles-js,
.particles-text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.particles-text h2,
.particles-text p {
  /* color: #141a1f !important; */
  color: #FFF !important;
}

.particles-js {
  z-index: 10;
}

.particles-text a {
  z-index: 11;
  position: relative;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hero-particles {
    background-position: unset;
    background-size: cover;
  }
}

.particles {
  background-color: #141a1fb3 !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.count-particles {
  background: #141a1f;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

.output {
  font-family: "Source Code Pro", monospace;
  color: white;
}

.output h1 {
  font-size: 40px;
  color: #f58b25;
  font-weight: 600;
}

/* Cursor Styling */
.cursor::after {
  content: "";
  display: inline-block;
  margin-left: 3px;
  background-color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  display: none;
}

h1.cursor::after {
  height: 40px;
  width: 3px;
}

p.cursor::after {
  height: 13px;
  width: 6px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  49% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: calc(100vh - 70px);
  padding: 0;
  overflow: hidden;
}

#hero .carousel-item {
  width: 100%;
  height: calc(100vh - 70px);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  overflow: hidden;
}

#hero .carousel-item::before {
  content: '';
  background-color: rgba(13, 30, 45, 0.6);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

#hero .carousel-content {
  text-align: left;
}

@media (max-width: 992px) {

  #hero,
  #hero .carousel-item {
    height: calc(100vh - 70px);
  }

  #hero .carousel-content.container {
    padding: 0 50px;
  }
}

#hero h2 {
  color: #fafafa;
  margin-bottom: 30px;
  font-size: 58px;
  font-weight: 900;
}

#hero p {
  font-size: 18px;
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  color: #fafafa;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-left,
#hero .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev,
#hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
}

#hero .carousel-indicators li {
  cursor: pointer;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 25px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px 0;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 0;
  background: #428bca;
}

#hero .btn-get-started:hover {
  background: #1c5c93;
  text-decoration: none;
}

.spacer {
  height: 30px;
  background-color: #030303 !important;
  /* background-color: #b0b910ff !important; */
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  #hero p {
    width: 55%;
  }

  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}

/*--------------------------------------------------------------
# Hero Video
--------------------------------------------------------------*/
.video-container {
  width: 640px;
  border-radius: 4px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}

.video-container .video-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container video {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.play-button-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  pointer-events: none;
}

.play-button-wrapper #circle-play-b {
  cursor: pointer;
  pointer-events: auto;
}

.play-button-wrapper #circle-play-b svg {
  width: 100px;
  height: 100px;
  fill: #fff;
  stroke: #fff;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  opacity: 0.9;
}

/*--------------------------------------------------------------
# Video
--------------------------------------------------------------*/
.bg-video {
  background: #030303;
  object-fit: cover;
  position: fixed;
  top: 0%;
  width: 100%;
  /* height: auto; */
  height: -webkit-fill-available;
  z-index: 0;
  transition: 1s opacity;
  opacity: 0.5;
}

.video-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 5%;
}

.overlay-block {
  opacity: 0.6;
  background-color: #030303;
  padding: 10vw 5px;
  width: 100%;
  height: 100%;
}

.overlay-block h1 {
  margin-top: 0;
  word-wrap: break-word;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 15px #0b7de0;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 90px 0;
}

.section-bg {
  background-color: #030303;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #f58b25;
}

.section-title p {
  margin-bottom: 0;
  color: #fafafa;
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about {
  padding-bottom: 30px;
  background: #030303 !important;
}

/* .about .container {
  box-shadow: 0 5px 25px 0 rgba(8, 8, 8, 0.6);
} */

.about .video-box img {
  padding: 15px 0;
}

.about .section-title p {
  text-align: justify;
  color: #ffca4e;
  margin-bottom: 20px;
  font-weight: 700;
}

.about .about-content {
  /* padding: 40px; */
  line-height: 30px;
}

.about .icon-box+.icon-box {
  margin-top: 40px;
}

.about .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  background: #f1f7fb;
  border-radius: 6px;
  transition: 0.5s;
}

.about .icon-box .icon i {
  color: #428bca;
  font-size: 32px;
}

.about .icon-box:hover .icon {
  background: #428bca;
}

.about .icon-box:hover .icon i {
  color: #fff;
}

.about .icon-box .title {
  margin-left: 95px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
}

.about .icon-box .title a {
  color: #fafafa;
  transition: 0.3s;
}

.about .icon-box .title a:hover {
  color: #428bca;
  text-decoration: none;
}

.about .icon-box .description {
  margin-left: 95px;
  line-height: 24px;
  font-size: 14px;
  color: #fafafa;
}

.about .video-box {
  position: relative;
}

.about .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#428bca 50%, rgba(66, 139, 202, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.about .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.about .play-btn::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(66, 139, 202, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.about .play-btn:hover::after {
  border-left: 15px solid #428bca;
  transform: scale(20);
}

.about .play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# About Lists
--------------------------------------------------------------*/
.about-lists {
  padding: 40px;
  background: #030303 !important;
  color: #fafafa;
}

.about-lists .row {
  overflow: hidden;
}

.about-lists .content-item {
  padding: 40px;
  border-left: 1px solid #d9e8f4;
  border-bottom: 1px solid #d9e8f4;
  margin: -1px;
}

@media (min-width: 768px) {
  .about-lists .content-item:nth-last-child(-n+2) {
    border-bottom: none !important;
  }
}

.about-lists .content-item span {
  display: block;
  font-size: 24px;
  font-weight: 400;
  color: #9eccf4;
}

.about-lists .content-item h4 {
  font-size: 28px;
  font-weight: 400;
  padding: 0;
  margin: 20px 0;
  color: #fafafa;
}

.about-lists .content-item p {
  color: #fafafa;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .about-lists .content-item {
    padding: 40px 20px;
  }

  .about .about-content {
    padding: 0;
  }

  .about-lists {
    padding: 0;
  }

  .about-lists .content-item:nth-last-child(1) {
    border-bottom: none !important;
  }

  .about-lists .content-item {
    border-left: none;
  }
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding-bottom: 30px;
}

.counts .count-box {
  box-shadow: 0px 0 16px rgba(0, 0, 0, 0.1);
  padding: 30px;
  background: #fff;
  margin-bottom: 30px;
}

.counts .count-box i {
  display: block;
  font-size: 64px;
  margin-bottom: 15px;
}

.counts .count-box span {
  font-size: 42px;
  display: block;
  font-weight: 700;
  color: #1c5c93;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services {
  padding-bottom: 30px;
  background: #030303 !important;
}

.services .icon-box {
  margin-bottom: 20px;
  text-align: center;
}

.services .icon {
  display: flex;
  justify-content: center;
}

.services .icon i {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  background: #fafafa;
  border-radius: 50%;
  transition: 0.5s;
  color: #428bca;
  font-size: 40px;
  overflow: hidden;
  padding-top: 20px;
  box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
}

.services .icon-box:hover .icon i {
  box-shadow: 0px 0 30px rgba(66, 139, 202, 0.5);
}

.services .title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
  padding-bottom: 15px;
}

.services .title a {
  color: #fafafa;
  transition: 0.3s;
}

.services .title a:hover {
  color: #fafafa;
}

.services .title::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #428bca;
  bottom: 0;
  left: calc(50% - 25px);
}

.services .description {
  line-height: 26px;
  font-size: 17px;
  color: #fafafa;
}

/* .servies {
  background-color: #141a1f !important;
}
.center-heading {
  text-align: center;
}

.center-heading .section-title {
  font-weight: 400;
  font-size: 1.75rem;
  color: #fafafa;
  letter-spacing: 1.1px;
  line-height: 38px;
  margin-bottom: 20px;
}

.center-heading.colored .section-title {
  color: #fafafa;
}

.center-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #fafafa;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.center-text.colored {
  color: #C7E5FF;
}

.center-text p {
  margin-bottom: 30px;
}

.services-small-item {
  display: block;
  background: #fff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 40px 28px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
}

.services-small-item:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  border-radius: 5px;
  background-image: linear-gradient(135deg, #80d0c7 0%, #13547a 100%);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}
.services-small-item.active:before, .services-small-item:hover:before {
  opacity: 1;
}

.services-small-item.active .icon:before, .services-small-item:hover .icon:before {
  opacity: .26;
}

.services-small-item.active .icon i, .services-small-item:hover .icon i {
  background: -webkit-linear-gradient(#fff, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services-small-item.active .services-title, .services-small-item:hover .services-title {
  color: #ffffff;
  font-size: 20px;
}

.services-small-item.active p, .services-small-item:hover p {
  color: #ffffff;
  font-size: 13px;
}

.services-small-item.active .button i, .services-small-item:hover .button i {
  background-image: linear-gradient(135deg, #fff 0%, #fff 100%) !important;
  color: #2b708b !important;
}

.services-small-item:hover {
  margin-top: -15px;
}

.services-small-item .icon {
  width: 139px;
  height: 113px;
  margin: auto;
  position: relative;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}


.services-small-item .icon i {
  display: block;
  height: 67px;
  line-height: 67px;
  position: absolute;
  width: 100%;
  top: 22px;
  z-index: 2;
  font-size: 28px;
  background-image: linear-gradient(135deg, #80d0c7 0%, #007bff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.services-small-item .services-title {
  font-weight: 400;
  font-size: 16px;
  color: #3B566E;
  letter-spacing: 0.7px;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.services-small-item p {
  font-weight: 400;
  font-size: 14px;
  color: #6F8BA4;
  letter-spacing: 0.88px;
  line-height: 26px;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-bottom: 30px;
}

.services-small-item .button {
  position: relative;
  z-index: 2;
}

.services-small-item .button i {
  width: 42px;
  height: 42px;
  background-image: linear-gradient(135deg, #80d0c7 0%, #13547a 100%);
  line-height: 42px;
  text-align: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  color: #fff;
  padding-left: 3px;
}

.services-small-item:hover + .item-bg {
  bottom: 30px;
}

.item-bg {
  content: '';
  position: absolute;
  width: 80%;
  height: 15px;
  bottom: 15px;
  left: 0px;
  right: 0px;
  margin: auto;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 1;
  background: #fafafa;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
} */
/*--------------------------------------------------------------
# Our Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 0 35px 0;
  list-style: none;
  text-align: center;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  margin: 0 15px 15px 0;
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #444;
  border-radius: 4px;
  text-transform: uppercase;
  background: #fff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  background: #428bca;
  color: #fff;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}

.portfolio .portfolio-wrap img {
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.3s;
  text-align: center;
  background: rgba(31, 53, 72, 0.6);
  padding-bottom: 30px;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.portfolio .portfolio-wrap .portfolio-info a {
  color: #428bca;
  margin: 0 4px;
  font-size: 18px;
  line-height: 1;
  background-color: #fff;
  padding-top: 7px;
  border-radius: 50px;
  text-align: center;
  width: 36px;
  height: 35px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info a:hover {
  background: #428bca;
  color: #fff;
}

.portfolio .portfolio-wrap:hover {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
  padding-bottom: 0;
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.1);
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq {
  padding-bottom: 30px;
  background: #030303 !important;
}

.faq .faq-item {
  margin-bottom: 40px;
  color: #fafafa;
}

.faq .faq-item h4 {
  font-size: 23px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #fafafa;
}

/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contact {
  padding: 130px 0;
  background-color: #030303 !important;
}

.contact .heading h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: #fafafa;
}

.contact .heading h2 span {
  color: rgb(82, 149, 206);
  ;
}

.contact .info-box {
  color: #444;
  text-align: center;
  box-shadow: 0 0 30px rgba(253, 254, 255, 0.6);
  padding: 20px 0 30px 0;
  margin-bottom: 30px;
  width: 100%;
  background-color: white;
}

.contact .info-box i {
  font-size: 32px;
  color: #428bca;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #9eccf4;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #666;
  font-weight: 700;
  margin: 10px 0;
}

.contact .heading p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #fafafa;
  margin: 20px 0 60px;
  padding: 0;
}

.contact .form-control {
  padding: 25px;
  font-size: 14px;
  margin-bottom: 10px;
  background: #fafafa;
  border: 0;
  border-radius: 10px;
}

.contact button.btn {
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  background: rgb(82, 149, 206);
  color: #fafafa;
}

.contact .title h3 {
  font-size: 18px;
  font-weight: 600;
  color: #fafafa;
}

.contact .title p {
  font-size: 14px;
  font-weight: 400;
  color: #fafafa;
  line-height: 1.6;
  margin: 0 0 40px;
}

.contact .content .info {
  margin-top: 30px;
}

.contact .content .info i {
  font-size: 30px;
  padding: 0;
  margin: 0;
  color: #02434b;
  margin-right: 20px;
  text-align: center;
  width: 20px;
}

.contact .content .info h4 {
  font-size: 13px;
  line-height: 1.4;
  color: #fafafa;
}

.contact .content .info h4 span {
  font-size: 13px;
  font-weight: 300;
  color: #fafafa;
}

/*--------------------------------------------------------------
# drop down
--------------------------------------------------------------*/
select {
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  flex: 1;
  padding: 0 2em;
  color: #495057;
  background-color: #fafafa;
  background-image: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 12px;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px;
  background-color: rgb(82, 149, 206);
  transition: .25s all ease;
  pointer-events: none;
}

.select:hover::after {
  color: #495057;
}

/*--------------------------------------------------------------
# Map
--------------------------------------------------------------*/
.responsive-map-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.responsive-map-container iframe,
.responsive-map-container object,
.responsive-map-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: #141a1f;
  padding: 0 0 30px 0;
  color: #fafafa;
  font-size: 14px;
}

#footer .footer-top {
  background: #141a1f;
  border-top: 1px solid #768fa6;
  border-bottom: 1px solid #67839c;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fafafa;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #768fa6;
  color: #fafafa;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #428bca;
  color: #fafafa;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fafafa;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #9eccf4;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fafafa;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  cursor: pointer;
}

#footer .footer-top .footer-links ul a:hover {
  color: #9eccf4;
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fafafa;
  padding: 6px 10px;
  position: relative;
  border-radius: 4;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #428bca;
  color: #fafafa;
  transition: 0.3s;
  border-radius: 4;
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
  background: #5295ce;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
  font-size: 12px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fafafa;
}

#footer .credits a {
  color: #9eccf4;
}

.cl-img {
  max-height: 100px;
  margin: 0 15px;
}

.text-color {
  color: #fafafa !important;
}

.about-section h1 {
  font-size: 60px;
  color: #f58b25;
  font-weight: 100;
}

.about-section p {
  font-size: 22px;
  color: #fafafa;
}

/*--------------------------------------------------------------
# Video-Caption
--------------------------------------------------------------*/

.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}

@keyframes color-animation {
  0% {
    color: var(--color-1)
  }

  32% {
    color: var(--color-1)
  }

  33% {
    color: var(--color-2)
  }

  65% {
    color: var(--color-2)
  }

  66% {
    color: var(--color-3)
  }

  99% {
    color: var(--color-3)
  }

  100% {
    color: var(--color-1)
  }
}


.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 7.5vw;
  /* text-transform: uppercase; */
}

/*--------------------------------------------------------------
# new navbar
--------------------------------------------------------------*/
.header {
  background-color: #141a1f !important;
  color: #fafafa !important;
}

.logo-name {
  color: #fafafa !important;
  font-weight: 600;
  margin-left: 7px;
  margin-bottom: 0;
}

.header a {
  /* color: #fafafa !important; */
  color: #f58b25 !important;
  cursor: pointer;
  font-size: 15px;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    flex-direction: row-reverse;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }

  .navbar-expand-lg .navbar-nav .nav-link:last-child {
    padding-right: 0 !important;
  }
}

/*--------------------------------------------------------------
# Case studies
--------------------------------------------------------------*/
.ag-format-container {
  background-color: #030303 !important;
}

.ag-courses_box {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 50px 0;
}

.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;
  overflow: hidden;
  position: relative;
  border-radius: 28px;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #fafafa;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(11);
  -ms-transform: scale(11);
  transform: scale(11);
}

.ag-courses-item_title {
  /* min-height: 87px; */
  margin: 0 0 25px;
  overflow: hidden;
  font-weight: bold;
  font-size: 20px;
  color: #fafafa;
  z-index: 2;
  position: relative;
}

.ag-courses-item_date-box {
  font-size: 18px;
  color: #fafafa;

  z-index: 2;
  position: relative;
}

.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}

.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.col-md-6:nth-child(2n) .ag-courses_item .ag-courses-item_bg {
  background-color: #3ecd5e;
}

.col-md-6:nth-child(3n) .ag-courses_item .ag-courses-item_bg {
  background-color: #e44002;
}

.col-md-6:nth-child(4n) .ag-courses_item .ag-courses-item_bg {
  background-color: #952aff;
}

.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}

.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }

  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }

  .ag-courses-item_link {
    padding: 22px 40px;
  }

  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

/*--------------------------------------------------------------
# Industries studies
--------------------------------------------------------------*/
.industries {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* padding: 20px;
  min-height: 250px; */
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.tag-teal {
  background-color: #47bcd4;
}

.tag-purple {
  background-color: #5e76bf;
}

.tag-pink {
  background-color: #cd5b9f;
}

.card-body p {
  font-size: 14px;
  margin: 0 0 40px;
}

.align-center {
  align-items: center !important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.case-header {
  color: #fafafa;
  /* background-color: #1f3548; */
  border-radius: 7px 7px 0 0 !important;
  border: 1px solid #8c8c8c;
  text-align: center;
}

.case-header h6 {
  font-size: 27px !important;
  font-weight: 300;
  color: #f58b25;
}

.case-body .col-md-4:not(:last-of-type) {
  /* border-right: 1px solid #cccccc; */
}

.case-body ul {
  padding-left: 25px;
  margin-bottom: 0 !important;
}

.case-body li {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.case-body row {
  margin: 15px 0 !important;
}


.iq-features {
  background: #030303 !important;
}

.holderCircle {
  width: 100%;
  height: 100%;
  min-height: 500px;
  border-radius: 100%;
  margin: 60px auto;
  position: relative;
  display: flex;
  justify-content: center;
}

.dotCircle {
  /* width: 100%;
  height: 100%; */
  width: 580px;
  height: 580px;
  position: absolute;
  /* margin: auto; */
  /* top: 0;
  left: -190px;
  right: 0;
  bottom: 0; */
  border-radius: 100%;
  z-index: 20;
}

.dotCircle .itemDot {
  display: block;
  width: 80px;
  height: 80px;
  position: absolute;
  background: #ffffff;
  /* color: #7d4ac7; */
  color: #181d34;
  border-radius: 20px;
  text-align: center;
  line-height: 70px;
  font-size: 30px;
  z-index: 3;
  cursor: pointer;
  border: 2px solid #e6e6e6;
}

.dotCircle .itemDot .forActive {
  width: 56px;
  height: 56px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.dotCircle .itemDot .forActive::after {
  content: '';
  width: 5px;
  height: 5px;
  /* border: 3px solid #7d4ac7; */
  border: 3px solid #181d34;
  bottom: -31px;
  left: -14px;
  filter: blur(1px);
  position: absolute;
  border-radius: 100%;
}

.dotCircle .itemDot .forActive::before {
  content: '';
  width: 6px;
  height: 6px;
  filter: blur(5px);
  top: -15px;
  position: absolute;
  transform: rotate(-45deg);
  border: 6px solid #f7e57e;
  right: -39px;
}

.dotCircle .itemDot.active .forActive {
  display: block;
}

.itemDot img {
  width: 40px;
}

.round {
  position: absolute;
  /* right: 250px;*/
  top: 45px;
  width: 480px;
  height: 480px;
  /* border: 2px dotted #a733bb; */
  border: 4px dotted #f58b25;
  border-radius: 100%;
  -webkit-animation: rotation 100s infinite linear;
}

.dotCircle .itemDot:hover,
.dotCircle .itemDot.active {
  color: #ffffff;
  transition: 0.5s;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d4ac7+0,a733bb+100 */
  /* background: #7d4ac7; */
  background: #f58b25;
  /* Old browsers */
  /* background: -moz-linear-gradient(left, #7d4ac7 0%, #a733bb 100%); */
  background: -moz-linear-gradient(left, #f58b25 0%, #f7e57e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f58b25 0%, #f7e57e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f58b25 0%, #f7e57e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f58b25', endColorstr='#f7e57e', GradientType=1);
  /* IE6-9 */
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, .13);
  -moz-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, .13);
  box-shadow: 0 30px 30px 0 rgba(0, 0, 0, .13);
}

.dotCircle .itemDot {
  font-size: 40px;
}

.contentCircle {
  /* width: 350px;
  border-radius: 100%;
  color: #222222;
  position: relative;
  top: 150px;
  left: 100%;
  transform: translate(-50%, -50%); */
  min-height: 250px;
}

.contentCircle .CirItem {
  border-radius: 100%;
  color: #222222;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: scale(0);
  transition: 0.5s;
  font-size: 15px;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  margin: auto;
  line-height: 250px;
}

.CirItem.active {
  z-index: 1;
  opacity: 1;
  transform: scale(1);
  transition: 0.5s;
}

.contentCircle .CirItem i {
  font-size: 180px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -90px;
  color: #000000;
  opacity: 0.1;
}

@media only screen and (max-width:599px) {
  .round {
    width: 280px;
    height: 280px;
    top: 50px;
  }

  .holderCircle {
    /* width: 300px; 
    height: 300px; */
    margin: auto;
    min-height: 400px;
  }

  .holderCircle::after {
    width: 100%;
    height: 100%;
  }

  .dotCircle {
    width: 380px;
    height: 380px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* margin: auto; */
  }

  .dotCircle .itemDot {
    width: 60px;
    height: 60px;
    line-height: 55;
  }

  .itemDot img {
    width: 30px;
    position: absolute;
    top: 15px;
    left: 15px;
  }

  .case-body .col-md-4 {
    border-right: none !important;
  }

  .tabs01,
  .tabs02 {
    width: 33% !important;
  }

  .tabs01-content,
  .tabs02-content {
    width: 67% !important;
    padding: 10px !important;
  }

  .plus-arrow {
    display: none;
  }

  a.myLink01,
  a.myLink02 {
    padding: 10px !important;
    font-size: 16px !important;
  }
}

@media only screen and (min-width:600px) and (max-width:767px) {}

@media only screen and (min-width:768px) and (max-width:991px) {}

@media only screen and (min-width:992px) and (max-width:1199px) {}

@media only screen and (min-width:1200px) and (max-width:1499px) {}

.title-box .title {
  font-weight: 600;
  position: relative;
  z-index: -1;
  line-height: 45px;
}

.title-box span {
  text-shadow: 0 10px 10px rgba(0, 0, 0, .15);
  font-weight: 700;
  color: #640178;
  font-size: 34px;
  color: #fafafa;
}

.title-box p {
  font-size: 16px;
  line-height: 2em;
  margin-bottom: 0;
  color: #ffca4e;
  font-weight: 600;
}

#industries .card {
  background-color: #ffffff80;
}

#industries .card-body {
  display: none;
}

.industry-head {
  border-bottom: none !important;
  color: #c36000;
  height: 200px;
  padding: 0;
}

.industry-head .text {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: rgb(255 255 255 / 50%);
  align-items: center;
  display: flex;
  justify-content: center;
  max-height: 200px;
}

.industry-head h5 {
  font-size: 27px;
  font-weight: 700;
  text-shadow: 0 0 3px #000000, 0 0 5px #ffffff;
}

.industries-p {
  font-size: 60px;
  font-weight: 300;
  cursor: pointer;
  z-index: 10;
  position: relative;
  text-align: center;
  color: #62c669;
}

.industries-p:hover {
  color: #dc3545;
  font-weight: 500;
  text-shadow: 0 0 3px #000000, 0 0 5px #ffffff;
}

#industries .card-body p {
  font-size: 17px;
  font-weight: 600;
}

.flip-container {
  perspective: 1000;
}

/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 100%;
  min-height: 180px;
  margin: 10px auto;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  color: cornSilk;
  text-align: center;
  font: 2em/180px 'Helvetica Neue', Helvetica, sans-serif;
  box-shadow: -5px 5px 5px #aaa;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  background: #fbee34;
  color: #141a1f;
  font-weight: 700;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  background: #f58b25;
  padding: 20px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.header .container {
  background-color: #141a1f;
}

.tba:before {
  min-width: 75px;
  display: inline-block;
  text-align: center;
}

.tba:before {
  content: "Innovation";
}

.tba:hover:before {
  content: "TBA";
}

.tabs01,
.tabs02 {
  display: inline-block;
  vertical-align: middle;
  width: 25%;
}

.tabs01-content,
.tabs02-content {
  display: inline-block;
  vertical-align: middle;
  width: 75%;
  padding: 15px 20px;
  color: #feaa4a;
}

.tabs01 div:not(#div1),
.tabs01-content div:not(#div1),
.tabs02 div:not(#div11),
.tabs02-content div:not(#div11) {
  display: none;
}

a.myLink01,
a.myLink02 {
  display: inline-block;
  color: #feaa4a;
  width: 100%;
  font-family: sans-serif;
  letter-spacing: 0.5px;
  border: 1px solid #8c8c8c;
  padding: 10px 20px;
  position: relative;
  transition: all 300ms ease 0s;
  border-radius: 0 10px 10px 0;
  font-weight: 700;
  font-size: 18px;
}

.tabs01-content,
.tabs02-content {
  font-family: sans-serif;
}

a.myLink01.active,
a.myLink01:hover,
a.myLink02.active,
a.myLink02:hover {
  color: #F58B25;
  text-decoration: none;
  background-color: #fafafa40;
}

.plus-arrow {
  position: absolute;
  right: 0;
  top: 10px;
  height: 25px;
  width: 25px;
}

.line {
  background: #c83d29;
  height: 1px;
  position: absolute;
  width: 10px;
  transition: 500ms;
}

.myLink01 .line1,
.myLink02 .line1 {
  top: 50%;
}

.myLink01 .line2,
.myLink02 .line2 {
  transform: rotate(90deg);
  top: 50%;
}

a.myLink01.active .line1,
a.myLink02.active .line1 {
  transform: rotate(25deg);
  top: 54%;
}

a.myLink01.active .line2,
a.myLink02.active .line2 {
  transform: rotate(-25deg);
  top: 70%;
}